@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"] {
    border: 1px solid #000;
    padding: 6px 5px;
    border-radius: 2px;
}


button {
    color: white;
    background: #000;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
        background: #353535cb;
    }
}


h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}